.corso-c-playlist-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
}

.corso-c-playlist-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.corso-c-strutture-dati-responsive-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
    align-items: flex-end; /* Align images to the bottom */
    gap: 10px; /* Space between images */
    height: auto; /* Full height for demo */
    margin: 0;
}

.corso-c-strutture-dati-responsive-container img {
    flex-shrink: 0; /* Prevent images from shrinking */
    object-fit: contain; /* Maintain the image proportions */
}

@media (max-width: 600px) {
    .corso-c-strutture-dati-responsive-container {
        flex-direction: column; /* Stack images vertically */
        align-items: center; /* Center-align images */
    }
}