{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/corso-c.css') }}">
{% endblock %}

{% block body %}
<div role="main" class="main">
    <section id="" class="section section-secondary section-no-border m-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="fred-date-and-title-container">
                        <h3 class="fred-text-date">22 feb 2025</h3>
                        <h1 class="text-color-dark text-uppercase font-weight-extra-bold">Lezioni C Con Leandro</h1>
                    </div>
                    <div class="yt-video-container">
                        <iframe 
                            src="https://www.youtube.com/embed/videoseries?si=SzJ1_rFIzc8j1zEA&amp;list=PLp33ryL1SvIkZ9vuxh0rCfHHzg2WYCcwy" 
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    <br>
                    <p>Dopo la creazione del mio corso C, ho trovato un ragazzo, Leandro, con il quale ho cominciato presto le lezioni.<p>
                    <p>Si affrontano tutti i temi del <a href="/corso-c">corso C</a>, ma con la mia guida diretta e seguendo i tempi dello studente.</p>
                    <p>Questa è un'opportunità interessante per vedere com'è affrontare un corso di programmazione partendo da non sapere cosa sia una variabile fino ad arrivare ad affrontare concetti più avanzati, come le funzioni factory.</p>
                    <p>Di fatto il mio compito deve essere non solo quello di trasmettere nozioni a Leandro, ma di guidarlo passo dopo passo per insegnargli il metodo di ragionamento e di problem solving necessari per la programmazione.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

